<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!-- # headless testing mode value = "headless" -->
<!-- UI testing value = "ui" -->

<suite name="Amazon Automation Suite">

    <parameter name="executionMode" value="headless"/>

    <test name="UI Tests">
        <classes>
            <class name="tests.AmazonUITests"/>
        </classes>
    </test>

    <test name="Functional Tests">
        <classes>
            <class name="tests.AmazonFunctionalTests"/>
        </classes>
    </test>

</suite>